<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Start</title>
<link rel="stylesheet" th:href="@{/css/index.css}" />
</head>
<body>
	<div class="container">
		<h1>How to add CSS, JavaScript and Image in Spring Boot</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Labore a libero cupiditate reiciendis consequuntur dolorem corrupti
			voluptate dolores accusamus voluptatibus cumque error repellendus
			officia? Dolor nesciunt accusantium consequuntur provident deserunt.</p>
	</div>
	
	<div class="image_containe">
		<img th:src="@{/img/harsh.png}" alt="" />
	</div>
	<script src="" th:src="@{/js/index.js}"></script>
</body>


</html>