<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragment/base :: layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<section class="banner d-flex justify-content-end align-items-center">

		<div class="banner-content text-center">

			<h1>Smart Contact Manager</h1>

			<p class="banner-text">Start Collecting your contacts in very
				smarter way. We provide very efficient and smarter way of handling
				contacts.</p>

			<button class="btn btn-primary btn-lg text-white">Get Start
			</button>

		</div>

	</section>
</body>
</html>